Body {
  background-image: url(https://cdn.wallpapersafari.com/54/0/HluF7g.jpg);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.book-cover {
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputbar {
  background-color: #fff3cd;
  border-color: rgb(161, 23, 161);
}

.buttonrecensione {
  color: #fff3cd;
  background-color: #7f44a0;
  border-color: #ffc400;
}

h3 {
  color: red;
}
